@charset "utf-8";

h1{
    font-size: 40px;
    font-weight: bold;
}

.layouts {
    display: flex;
}

.box {
    width: 400px;
    height: 100px;
    background-color: #333;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    margin-top:  8;
    margin-right: 4px;
    margin-bottom: 8px;
    margin-left: 4px;    
}

.box:nth-of-type(2) {
  background-color: #aaa;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 35px;
        color: #aaa;
    }

    .layouts{
        display: block;
    }

    .pcview {
        display: none;
    }
}